@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap");
/* 반응형 */
/* 반응형 */
/*main scss*/
/*header*/
/*footer*/
/* 반응형 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

.scenery__bg__detail {
  background: #eedeff;
}

.scenery__bg__detail p {
  color: #333;
}

html,
body {
  height: 100%;
  font-size: 10px;
  color: #333;
}

.screen_out {
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
}

.container {
  width: 100%;
  height: 100%;
}

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

@media (max-width: 1024px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    width: 100%;
  }
}

.header__logo {
  display: flex;
  flex-grow: 0;
  margin-left: 3rem;
}

@media (max-width: 1024px) {
  .header__logo {
    padding-top: 15px;
    text-align: center;
    margin: 0;
    align-items: center;
  }
  .header__logo img {
    width: 60%;
  }
}

.header__menu {
  display: flex;
  flex-grow: 1;
  font-size: 3rem;
  list-style: none;
  font-family: 'Dancing Script', cursive;
  margin: 0 6rem;
}

.header__menu li {
  margin-right: 5rem;
}

.header__menu li a {
  color: #333;
}

.header__menu li:hover {
  border-bottom: 1px solid #333;
}

@media (max-width: 1024px) {
  .header__menu {
    display: none;
    flex-direction: column;
    width: 100%;
    margin: 30px 0;
    background-color: #ffffffcc;
  }
  .header__menu li {
    width: 100%;
    padding: 15px 0 15px 60px;
    cursor: pointer;
  }
  .header__menu li a {
    display: block;
  }
  .header__menu li:hover {
    background-color: #CCB7FF;
    border-bottom: none;
  }
}

@media (max-width: 1024px) {
  .header__menu.active {
    display: flex;
  }
}

.header__btn {
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  height: 50px;
  border-radius: 30px;
  border: 0;
  outline: 0;
  margin: 0 3rem;
  box-shadow: 4px 6px 10px #000000a8;
}

.header__btn i {
  margin-right: 1rem;
}

.header__btn:hover .fa-moon {
  color: #fce303;
}

@media (max-width: 1024px) {
  .header__btn {
    position: absolute;
    right: 0;
    top: 20px;
    padding: 0 1.5rem;
  }
  .header__btn i {
    margin: 0 auto;
    font-size: 2rem;
  }
  .header__btn--right {
    display: none;
  }
}

.header__toogleBtn {
  position: absolute;
  left: 30px;
  top: 17px;
  font-size: 40px;
  display: none;
  color: #CCB7FF;
}

@media (max-width: 1024px) {
  .header__toogleBtn {
    display: block;
  }
}

/* section2 */
.main__home {
  padding-top: 5rem;
  width: 100%;
  background-color: #eedeff;
  height: 40rem;
  display: flex;
}

.main__home .main__img {
  margin: 10rem;
  margin: auto 10rem;
  width: 30%;
}

.main__home .main__img img {
  width: 20rem;
}

.main__home .main__tit {
  margin: 10rem 0;
  width: 100%;
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 30px;
  justify-content: center;
  text-align: center;
}

@media (max-width: 767px) {
  .main__home .main__tit {
    width: 30rem;
    margin: auto;
  }
}

.main__home .main__tit .sub_text {
  font-size: 1.6rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__home .main__tit .sub_text {
    font-size: 2.5rem;
  }
}

@media (max-width: 767px) {
  .main__home .main__tit .sub_text {
    font-size: 1.3rem;
  }
}

.main__home .main__tit .main_text {
  font-size: 4rem;
}

.main__home .main__tit .main_text .main {
  font-weight: bold;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__home .main__tit .main_text {
    font-size: 3.5rem;
  }
}

@media (max-width: 767px) {
  .main__home .main__tit .main_text {
    font-size: 2.3rem;
  }
}

/* section 3. Horoscope [별점 높은 순] */
.main__horoscope {
  height: 100rem;
  position: relative;
  overflow: hidden;
  /* article 3-1. 텍스트 부분 */
  /* article 3-2. 슬라이드 + 버튼 */
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__horoscope {
    height: 65rem;
  }
}

@media (max-width: 767px) {
  .main__horoscope {
    height: 65rem;
  }
}

.main__horoscope .horoscope__tit {
  font-family: 'Noto Sans KR', sans-serif;
  display: block;
  margin: 0 auto;
  height: 35rem;
  width: 192rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__horoscope .horoscope__tit {
    width: 70rem;
    height: 20rem;
    padding-top: 4rem;
  }
}

@media (max-width: 767px) {
  .main__horoscope .horoscope__tit {
    width: 30rem;
    height: 15rem;
    padding-top: 2rem;
  }
}

.main__horoscope .horoscope__tit .tit {
  display: block;
  padding: 15rem 0 0 18rem;
  font-weight: 400;
  font-size: 4em;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__horoscope .horoscope__tit .tit {
    padding: 0;
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .main__horoscope .horoscope__tit .tit {
    padding: 0;
    font-size: 2rem;
  }
}

.main__horoscope .horoscope__tit .tit .main__font {
  font-weight: bold;
}

.main__horoscope .horoscope__tit p {
  display: block;
  padding: 1.4rem 0 0 18rem;
  margin-top: 1rem;
  font-size: 1.6rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__horoscope .horoscope__tit p {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .main__horoscope .horoscope__tit p {
    padding: 0;
    font-size: 1.3rem;
  }
}

.main__horoscope .horoscope__tit p .main__font {
  font-weight: bold;
}

.main__horoscope .horoscope__block {
  position: relative;
  width: 100%;
  display: block;
  /* 별점 높은 순 사진 리스트 부분 */
}

@media (max-width: 767px) {
  .main__horoscope .horoscope__block {
    height: 50rem;
  }
}

.main__horoscope .horoscope__block .horoscope__wrapper {
  width: 192rem;
  height: 10rem;
  margin: 0 auto;
  left: 18rem;
  position: relative;
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: transform 0.5s;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__horoscope .horoscope__block .horoscope__wrapper {
    width: 70rem;
    left: 0;
  }
}

@media (max-width: 767px) {
  .main__horoscope .horoscope__block .horoscope__wrapper {
    width: 30rem;
    height: 40rem;
    left: 0;
  }
}

.main__horoscope .horoscope__block .horoscope__wrapper .horoscope {
  margin-right: 3rem;
  position: relative;
}

@media (max-width: 767px) {
  .main__horoscope .horoscope__block .horoscope__wrapper .horoscope {
    height: 40rem;
  }
}

@media (max-width: 767px) {
  .main__horoscope .horoscope__block .horoscope__wrapper .horoscope .horoscope__img {
    width: 30rem;
    height: 35rem;
  }
}

.main__horoscope .horoscope__block .horoscope__wrapper .horoscope .horoscope__img__tit {
  color: #fff;
  top: 4rem;
  opacity: 0;
  padding: 4rem;
  position: absolute;
  display: block;
  width: 100%;
  transition: all 0.3s ease;
}

.main__horoscope .horoscope__block .horoscope__wrapper .horoscope .horoscope__img__tit .cafe__name {
  display: block;
  font-size: 5rem;
}

.main__horoscope .horoscope__block .horoscope__wrapper .horoscope .horoscope__img__tit .cafe__type {
  display: block;
  margin-top: 2rem;
  font-size: 3rem;
}

.main__horoscope .horoscope__block .horoscope__wrapper .horoscope__img {
  width: 58.4rem;
  height: 40rem;
  opacity: 1;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

.main__horoscope .horoscope__block .horoscope__wrapper .horoscope:hover .horoscope__img {
  background-color: #333;
}

.main__horoscope .horoscope__block .horoscope__wrapper .horoscope:hover img {
  transition: all 0.3s ease;
  opacity: 0.15;
}

.main__horoscope .horoscope__block .horoscope__wrapper .horoscope:hover .horoscope__img__tit {
  opacity: 1;
  transition: all 0.3s ease;
}

.main__horoscope .horoscope__block .horoscope__prevbtn {
  left: 3rem;
  position: absolute;
  bottom: -13rem;
}

@media (max-width: 767px) {
  .main__horoscope .horoscope__block .horoscope__prevbtn {
    top: 0;
    left: 0;
    bottom: 0;
  }
}

.main__horoscope .horoscope__block .horoscope__nextbtn {
  right: 3rem;
  position: absolute;
  bottom: -13rem;
}

.main__horoscope .horoscope__block .horoscope__btn {
  border: none;
  border-radius: 50px;
  padding: 2rem 2.5rem;
  background-color: #979797;
  opacity: 0.8;
  color: #fff;
}

.main__horoscope .horoscope__block .horoscope__btn:hover {
  background-color: #eedeff;
  color: #fff;
}

@media (max-width: 767px) {
  .main__horoscope .horoscope__block .horoscope__btn {
    width: 5rem;
    height: 5rem;
    font-size: 1rem;
    padding: 0;
    top: 50%;
    margin-top: -7.8rem;
  }
}

/*section 4: 전망좋은 카페*/
.main__scenery {
  height: 100rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__scenery {
    height: 65rem;
  }
}

@media (max-width: 767px) {
  .main__scenery {
    height: 50rem;
  }
}

.main__scenery .scenery__box {
  height: 100rem;
  position: relative;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__scenery .scenery__box {
    height: 65rem;
  }
}

@media (max-width: 767px) {
  .main__scenery .scenery__box {
    height: 50rem;
  }
}

.main__scenery .scenery__box .scenery__bg__left {
  width: 33%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
}

.main__scenery .scenery__box .scenery__bg__left .scenery__bg__bigBox {
  width: 200%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-out;
}

.main__scenery .scenery__box .scenery__bg__left .scenery__bg__bigBox .scenery__bg__bigSlide1 {
  width: 50%;
  height: 100%;
  float: left;
  background: url("../img/05/left/L_content_1_1.png") center no-repeat;
  background-size: cover;
}

.main__scenery .scenery__box .scenery__bg__left .scenery__bg__bigBox .scenery__bg__bigSlide2 {
  width: 50%;
  height: 100%;
  float: left;
  background: url("../img/05/left/L_content_2_1.png") left top no-repeat;
  background-size: cover;
}

.main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox {
  width: 34rem;
  height: 68rem;
  right: 0;
  top: 50%;
  margin-top: -34rem;
  position: absolute;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox {
    width: 20rem;
    height: 40rem;
    margin-top: -25rem;
  }
}

@media (max-width: 767px) {
  .main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox {
    width: 10rem;
    height: 20rem;
    margin-top: -14rem;
  }
}

.main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox .scenery__bg__up__container {
  width: 34rem;
  height: 34rem;
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox .scenery__bg__up__container {
    width: 20rem;
    height: 20rem;
  }
}

@media (max-width: 767px) {
  .main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox .scenery__bg__up__container {
    width: 10rem;
    height: 10rem;
  }
}

.main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox .scenery__bg__up__container .scenery__bg__up {
  width: 68rem;
  height: 34rem;
  position: absolute;
  transition: 0.5s ease-out;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox .scenery__bg__up__container .scenery__bg__up {
    width: 40rem;
    height: 20rem;
  }
}

@media (max-width: 767px) {
  .main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox .scenery__bg__up__container .scenery__bg__up {
    width: 20rem;
    height: 10rem;
  }
}

.main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox .scenery__bg__up__container .scenery__bg__up .scenery__bg__smallSlide1 {
  width: 34rem;
  height: 100%;
  float: left;
  background: url("../img/05/left/L_scenery1_1_bg.png") center no-repeat;
  background-size: cover;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox .scenery__bg__up__container .scenery__bg__up .scenery__bg__smallSlide1 {
    width: 20rem;
  }
}

@media (max-width: 767px) {
  .main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox .scenery__bg__up__container .scenery__bg__up .scenery__bg__smallSlide1 {
    width: 10rem;
  }
}

.main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox .scenery__bg__up__container .scenery__bg__up .scenery__bg__smallSlide2 {
  width: 34rem;
  height: 100%;
  float: left;
  background: url("../img/05/left/L_scenery_2_1_bg.png") center no-repeat;
  background-size: cover;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox .scenery__bg__up__container .scenery__bg__up .scenery__bg__smallSlide2 {
    width: 20rem;
  }
}

@media (max-width: 767px) {
  .main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox .scenery__bg__up__container .scenery__bg__up .scenery__bg__smallSlide2 {
    width: 10rem;
  }
}

.main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox .scenery__bg__down {
  width: 34rem;
  height: 34rem;
  background: white;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox .scenery__bg__down {
    width: 20rem;
    height: 20rem;
  }
}

@media (max-width: 767px) {
  .main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox .scenery__bg__down {
    width: 10rem;
    height: 10rem;
  }
}

.main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox .scenery__bg__down .scenery__bg__small {
  width: 34rem;
  height: 34rem;
  position: absolute;
  background: url("../img/05/left/L_text_2_1.png") center no-repeat;
  background-size: cover;
  opacity: 1;
  transition: opacity 1s;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox .scenery__bg__down .scenery__bg__small {
    width: 20rem;
    height: 20rem;
  }
}

@media (max-width: 767px) {
  .main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox .scenery__bg__down .scenery__bg__small {
    width: 10rem;
    height: 10rem;
  }
}

.main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox .scenery__bg__down .scenery__bg__small2 {
  width: 34rem;
  height: 34rem;
  position: absolute;
  background: url("../img/05/left/L_text_1_1.png") center no-repeat;
  background-size: cover;
  opacity: 0;
  transition: opacity 1s;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox .scenery__bg__down .scenery__bg__small2 {
    width: 20rem;
    height: 20rem;
  }
}

@media (max-width: 767px) {
  .main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox .scenery__bg__down .scenery__bg__small2 {
    width: 10rem;
    height: 10rem;
  }
}

.main__scenery .scenery__box .scenery__bg__right {
  width: 67%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__detail {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  box-shadow: 5px 5px 15px 5px #000000a8;
  padding-top: 5.7rem;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 25rem;
  margin-top: 22rem;
  transition: 0.2s ease-in;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__scenery .scenery__box .scenery__bg__right .scenery__bg__detail {
    width: 13rem;
    height: 13rem;
    margin-top: 14rem;
    padding-top: 4.7rem;
  }
}

@media (max-width: 767px) {
  .main__scenery .scenery__box .scenery__bg__right .scenery__bg__detail {
    width: 8rem;
    height: 8rem;
    padding-top: 3rem;
    top: 0;
    left: 0;
    margin: 0;
    top: 40rem;
    left: 40%;
    margin: 0;
    margin-left: 3rem;
  }
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__detail p {
  width: 15rem;
  font-size: 2rem;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__scenery .scenery__box .scenery__bg__right .scenery__bg__detail p {
    width: 13rem;
  }
}

@media (max-width: 767px) {
  .main__scenery .scenery__box .scenery__bg__right .scenery__bg__detail p {
    width: 8rem;
    font-size: 1.3rem;
  }
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__detail .arrow {
  font-size: 2rem;
  text-shadow: 5px 5px 7px #000000a8;
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__detail:hover {
  transform: scale(1.2);
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__bigBox {
  width: 200%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-out;
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__bigBox .scenery__bg__bigSlide1 {
  width: 50%;
  height: 100%;
  float: left;
  background: url("../img/05/right/R_content_1_1.png") center no-repeat;
  background-size: cover;
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__bigBox .scenery__bg__bigSlide2 {
  width: 50%;
  height: 100%;
  float: left;
  background: url("../img/05/right/R_content_2_1.png") center no-repeat;
  background-size: cover;
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox {
  width: 34rem;
  height: 68rem;
  left: 0;
  top: 50%;
  margin-top: -34rem;
  position: absolute;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox {
    width: 20rem;
    height: 40rem;
    margin-top: -25rem;
  }
}

@media (max-width: 767px) {
  .main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox {
    width: 10rem;
    height: 20rem;
    margin-top: -14rem;
  }
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox .scenery__bg__up {
  width: 34rem;
  height: 34rem;
  background: white;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox .scenery__bg__up {
    width: 20rem;
    height: 20rem;
  }
}

@media (max-width: 767px) {
  .main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox .scenery__bg__up {
    width: 10rem;
    height: 10rem;
  }
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox .scenery__bg__up .scenery__bg__small {
  width: 34rem;
  height: 34rem;
  position: absolute;
  background: url("../img/05/right/R_text_2_1.png") center no-repeat;
  background-size: cover;
  opacity: 1;
  transition: opacity 1s;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox .scenery__bg__up .scenery__bg__small {
    width: 20rem;
    height: 20rem;
  }
}

@media (max-width: 767px) {
  .main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox .scenery__bg__up .scenery__bg__small {
    width: 10rem;
    height: 10rem;
  }
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox .scenery__bg__up .scenery__bg__small2 {
  width: 34rem;
  height: 34rem;
  position: absolute;
  background: url("../img/05/right/R_text_1_1.png") center no-repeat;
  background-size: cover;
  opacity: 0;
  transition: opacity 1s;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox .scenery__bg__up .scenery__bg__small2 {
    width: 20rem;
    height: 20rem;
  }
}

@media (max-width: 767px) {
  .main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox .scenery__bg__up .scenery__bg__small2 {
    width: 10rem;
    height: 10rem;
  }
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox .scenery__bg__down__container {
  width: 34rem;
  height: 34rem;
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox .scenery__bg__down__container {
    width: 20rem;
    height: 20rem;
  }
}

@media (max-width: 767px) {
  .main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox .scenery__bg__down__container {
    width: 10rem;
    height: 10rem;
  }
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox .scenery__bg__down__container .scenery__bg__down {
  width: 68rem;
  height: 34rem;
  position: absolute;
  transition: 0.5s ease-out;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox .scenery__bg__down__container .scenery__bg__down {
    width: 40rem;
    height: 20rem;
  }
}

@media (max-width: 767px) {
  .main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox .scenery__bg__down__container .scenery__bg__down {
    width: 20rem;
    height: 10rem;
  }
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox .scenery__bg__down__container .scenery__bg__down .scenery__bg__smallSlide1 {
  width: 34rem;
  height: 100%;
  float: left;
  background: url("../img/05/right/R_scenery1_1_bg.png") center no-repeat;
  background-size: cover;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox .scenery__bg__down__container .scenery__bg__down .scenery__bg__smallSlide1 {
    width: 20rem;
  }
}

@media (max-width: 767px) {
  .main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox .scenery__bg__down__container .scenery__bg__down .scenery__bg__smallSlide1 {
    width: 10rem;
  }
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox .scenery__bg__down__container .scenery__bg__down .scenery__bg__smallSlide2 {
  width: 34rem;
  height: 100%;
  float: left;
  background: url("../img/05/right/R_scenery2_1_bg.png.png") center no-repeat;
  background-size: cover;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox .scenery__bg__down__container .scenery__bg__down .scenery__bg__smallSlide2 {
    width: 20rem;
  }
}

@media (max-width: 767px) {
  .main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox .scenery__bg__down__container .scenery__bg__down .scenery__bg__smallSlide2 {
    width: 10rem;
  }
}

/*section 5: 이달의 카페*/
.main__best {
  height: 1080px;
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__best {
    height: 60rem;
  }
}

@media (max-width: 767px) {
  .main__best {
    height: 60rem;
  }
}

.main__best .best__tit {
  width: 98.8rem;
  height: 50rem;
  padding: 22rem 0px 0px 9.2rem;
  margin: 0 auto;
  line-height: 30px;
  letter-spacing: 2px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__best .best__tit {
    width: 70rem;
    height: 25rem;
    padding: 8rem 0px;
  }
}

@media (max-width: 767px) {
  .main__best .best__tit {
    width: 30rem;
    height: 25rem;
    padding: 8rem 0px;
  }
}

.main__best .tit {
  font-size: 4rem;
  margin-bottom: 3rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__best .tit {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .main__best .tit {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.main__best .sub__tit {
  font-size: 1.6rem;
  font-family: 'Frank Ruhl Libre', serif;
}

@media (max-width: 767px) {
  .main__best .sub__tit {
    font-size: 1.3rem;
  }
}

.main__best .best__bg {
  width: 100%;
  height: 58rem;
  position: relative;
  overflow: hidden;
  background: url("../img/06/best_1_1.png") center no-repeat;
  background-size: cover;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__best .best__bg {
    height: 35rem;
  }
}

@media (max-width: 767px) {
  .main__best .best__bg {
    height: 35rem;
  }
}

.main__best .best__bg .best__inner__bg {
  width: 100%;
  height: 58rem;
  position: absolute;
  top: 0rem;
  background: url("../img/06/bg.png") center no-repeat;
  background-size: cover;
  transition: 0.5s ease-out;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__best .best__bg .best__inner__bg {
    height: 35rem;
  }
}

@media (max-width: 767px) {
  .main__best .best__bg .best__inner__bg {
    height: 35rem;
  }
}

.main__best .best__box {
  width: 36rem;
  height: 55rem;
  position: absolute;
  overflow: hidden;
  background: url("../img/06/best1.png") top no-repeat;
  background-size: cover;
  top: 21rem;
  left: 60%;
  box-shadow: 10px 10px 15px #000000a8;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__best .best__box {
    width: 25rem;
    height: 36rem;
    top: 8rem;
  }
}

@media (max-width: 767px) {
  .main__best .best__box {
    width: 13rem;
    height: 20rem;
    top: 15rem;
    margin-left: -2rem;
  }
}

.main__best .best__box .best__header {
  width: 36rem;
  height: 55rem;
  position: absolute;
  top: 55rem;
  background: url("../img/06/best2.png") top no-repeat;
  background-size: cover;
  transition: 0.5s ease-out;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__best .best__box .best__header {
    width: 25rem;
    height: 36rem;
    top: 36rem;
  }
}

@media (max-width: 767px) {
  .main__best .best__box .best__header {
    width: 13rem;
    height: 20rem;
    top: 20rem;
  }
}

.main__best .scenery__bg__detail {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  box-shadow: 5px 5px 15px 5px #000000a8;
  padding-top: 5.7rem;
  position: absolute;
  z-index: 999;
  top: 50rem;
  left: 60%;
  margin: 22rem;
  transition: 0.2s ease-in;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__best .scenery__bg__detail {
    width: 13rem;
    height: 13rem;
    padding-top: 4.7rem;
    top: 38rem;
    left: 60%;
    margin: 0;
    margin-left: 17rem;
  }
}

@media (max-width: 767px) {
  .main__best .scenery__bg__detail {
    width: 8rem;
    height: 8rem;
    padding-top: 3rem;
    top: 33rem;
    left: 60%;
    margin: 0;
    margin-left: 5rem;
  }
}

.main__best .scenery__bg__detail p {
  width: 15rem;
  font-size: 2rem;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__best .scenery__bg__detail p {
    width: 13rem;
  }
}

@media (max-width: 767px) {
  .main__best .scenery__bg__detail p {
    width: 8rem;
    font-size: 1.3rem;
  }
}

.main__best .scenery__bg__detail .arrow {
  font-size: 2rem;
  text-shadow: 5px 5px 7px #000000a8;
}

.main__best .scenery__bg__detail:hover {
  transform: scale(1.2);
}

/* section 6. New cafe 4 [뉴 카페] */
.main__newCafe {
  height: 100rem;
  position: relative;
  background-color: #eedeff;
  margin: 0 auto;
  z-index: 1;
  /* article 6-1. 텍스트 부분 */
  /* article 6-2. 슬라이드 + 버튼 */
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__newCafe {
    height: 80rem;
  }
}

@media (max-width: 767px) {
  .main__newCafe {
    height: 60rem;
  }
}

.main__newCafe .newCafe__tit {
  font-family: 'Noto Sans KR', sans-serif;
  padding: 15rem 0 8rem 0;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__newCafe .newCafe__tit {
    padding: 8rem 0;
  }
}

@media (max-width: 767px) {
  .main__newCafe .newCafe__tit {
    padding: 3.5rem 0 3rem 0;
  }
}

.main__newCafe .newCafe__tit .tit {
  display: block;
  font-weight: 400;
  font-size: 4rem;
  margin-bottom: 5rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__newCafe .newCafe__tit .tit {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .main__newCafe .newCafe__tit .tit {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}

.main__newCafe .newCafe__tit .tit .main__font {
  font-weight: bold;
  color: #333;
}

.main__newCafe .newCafe__tit button {
  background-color: #ccb7ff;
  padding: 1.5rem 5rem;
  border-radius: 50px;
  font-size: 1.6rem;
  border: none;
  color: #333;
}

@media (max-width: 767px) {
  .main__newCafe .newCafe__tit button {
    padding: 1rem 3rem;
    font-size: 1.3rem;
  }
}

.main__newCafe .newCafe__block {
  position: relative;
  width: 79rem;
  margin: 0 auto;
  display: block;
  /* 뉴 카페 이미지 슬라이드 */
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__newCafe .newCafe__block {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .main__newCafe .newCafe__block {
    width: 100%;
  }
}

.main__newCafe .newCafe__block .swiper-button-next {
  right: -70px;
  color: #ccb7ff;
}

.main__newCafe .newCafe__block .swiper-button-next:hover {
  color: #333;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__newCafe .newCafe__block .swiper-button-next {
    right: 0;
  }
}

@media (max-width: 767px) {
  .main__newCafe .newCafe__block .swiper-button-next {
    right: 0;
  }
}

.main__newCafe .newCafe__block .swiper-button-prev {
  left: -70px;
  color: #ccb7ff;
}

.main__newCafe .newCafe__block .swiper-button-prev:hover {
  color: #333;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__newCafe .newCafe__block .swiper-button-prev {
    left: 0;
  }
}

@media (max-width: 767px) {
  .main__newCafe .newCafe__block .swiper-button-prev {
    left: 0;
  }
}

.main__newCafe .newCafe__block .swiperbtn {
  color: #333;
}

.main__newCafe .newCafe__block .swiper-container {
  height: 100%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__newCafe .newCafe__block .swiper-container {
    width: 70rem;
  }
}

@media (max-width: 767px) {
  .main__newCafe .newCafe__block .swiper-container {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__newCafe .newCafe__block .swiper-container .swiper-wrapper {
    width: 58.4rem;
  }
}

@media (max-width: 767px) {
  .main__newCafe .newCafe__block .swiper-container .swiper-wrapper {
    width: 30rem;
  }
}

.main__newCafe .newCafe__block .swiper-slide {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-sizing: border-box;
  /* 이 설정을 하지 않으면 슬라이드드가 틀어짐 */
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__left {
  margin-left: 3rem;
}

.footer__copyright {
  margin-top: 50px;
  font-weight: bold;
}

.footer__copyright p:last-child {
  font-weight: normal;
  font-family: 'Dancing Script', cursive;
  margin-top: 10px;
}

.footer__right {
  display: flex;
  margin-right: 3rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer__right {
    margin: 4rem 0 0 3rem;
  }
}

@media (max-width: 767px) {
  .footer__right {
    margin: 4rem 0 0 3rem;
  }
}

.footer__menu {
  font-size: 1.6rem;
  list-style: none;
  margin-left: 4rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer__menu {
    margin: 0;
    padding-right: 2rem;
  }
}

@media (max-width: 767px) {
  .footer__menu {
    margin: 0;
    padding-right: 2rem;
  }
}

.footer__menu--list {
  height: 30px;
  padding-top: 30px;
}

.footer__menu li {
  font-size: 1rem;
}

.footer__menu li :hover {
  color: #ccb7ff;
}

.footer__menu li a {
  color: #333;
}
