@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap');
/*main scss*/
/*header*/
@media screen and (max-width: 1024px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  .header__logo {
    margin: 0;
    align-items: center;
  }
  .header__menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  .header__menu li {
    width: 100%;
    padding: 15px 0 15px 60px;
  }
  .header__menu li:hover {
    background-color: #eedeff;
    border-bottom: none;
  }
  .header__menu .active {
    display: flex;
  }
  .header__btn {
    position: absolute;
    right: 0;
    top: 20px;
    padding: 0 1.5rem;
  }
  .header__btn i {
    margin: 0 auto;
    font-size: 2rem;
  }
  .header__btn--right {
    display: none;
  }
  .header__toogleBtn {
    display: block;
  }
}

/*footer*/
@media screen and (max-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__right {
    margin-left: 6rem;
  }
  .footer__menu {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .footer__right {
    display: flex;
    flex-direction: column;
  }
  .footer__menu {
    margin-top: 60px;
  }
}

/*
header 100px

section2: mainhome 600px
section3: Horoscope  1000px
section 4: 전망좋은 카페 1000px
section 5: 이달의 카페 1000px
section 6: New cafe 1000px

footer 300px

entire: 5000px
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

html,
body {
  height: 100%;
  font-size: 10px;
}

.screen_out {
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
}

.container {
  width: 100%;
  height: 4900px;
}

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.header__logo {
  display: flex;
  flex-grow: 0;
  margin-left: 6rem;
}

.header__menu {
  display: flex;
  flex-grow: 1;
  font-size: 3rem;
  list-style: none;
  font-family: 'Dancing Script', cursive;
  margin: 0 6rem;
}

.header__menu li {
  margin-right: 5rem;
}

.header__menu li a {
  color: #333;
}

.header__menu li:hover {
  border-bottom: 1px solid #333;
}

.header__btn {
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  height: 50px;
  border-radius: 30px;
  border: 0;
  outline: 0;
  margin: 0 6rem;
  box-shadow: 4px 6px 10px #000000a8;
}

.header__btn i {
  margin-right: 1rem;
}

.header__btn:hover {
  background-color: #333;
  color: #f4f4f4;
}

.header__btn:hover .fa-moon {
  color: #fce303;
}

.header__toogleBtn {
  position: absolute;
  left: 60px;
  top: 15px;
  font-size: 40px;
  display: none;
  color: #eedeff;
}

/* section2 */
.main__home {
  width: 100%;
  background-color: #eedeff;
  height: 60rem;
}

.main__home .main__tit {
  text-align: center;
  padding: 30rem 0;
  font-size: 8rem;
  font-family: 'Noto Sans KR', sans-serif;
}

/* section 3. Horoscope [별점 높은 순] */
.main__horoscope {
  height: 100rem;
  position: relative;
  overflow: hidden;
  /* article 3-1. 텍스트 부분 */
  /* article 3-2. 슬라이드 + 버튼 */
}

.main__horoscope .horoscope__tit {
  color: #343a40;
  font-family: 'Noto Sans KR', sans-serif;
  display: block;
  margin: 0 auto;
  height: 44rem;
  width: 192rem;
}

.main__horoscope .horoscope__tit strong {
  display: block;
  padding: 21rem 0 0 18rem;
  font-size: 6rem;
}

.main__horoscope .horoscope__tit p {
  display: block;
  padding: 1.4rem 0 0 18rem;
  margin-top: 1rem;
  font-size: 4rem;
}

.main__horoscope .horoscope__block {
  position: relative;
  width: 100%;
  display: block;
  /* 별점 높은 순 사진 리스트 부분 */
}

.main__horoscope .horoscope__block .horoscope__wrapper {
  width: 192rem;
  height: 40rem;
  margin: 0 auto;
  left: 18rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  margin-bottom: 16rem;
}

.main__horoscope .horoscope__block .horoscope__wrapper .horoscope {
  margin-right: 3rem;
  position: relative;
}

.main__horoscope
  .horoscope__block
  .horoscope__wrapper
  .horoscope
  .horoscope__tit {
  color: #fff;
  top: 4rem;
  opacity: 0;
  padding: 4rem;
  position: absolute;
  text-align: left;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main__horoscope
  .horoscope__block
  .horoscope__wrapper
  .horoscope
  .horoscope__tit
  h1 {
  font-size: 5rem;
}

.main__horoscope
  .horoscope__block
  .horoscope__wrapper
  .horoscope
  .horoscope__tit
  p {
  margin-top: 2rem;
  font-size: 3rem;
}

.main__horoscope .horoscope__block .horoscope__wrapper .horoscope__img {
  width: 58.4rem;
  height: 40rem;
  opacity: 1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

.main__horoscope
  .horoscope__block
  .horoscope__wrapper
  .horoscope:hover
  .horoscope__img {
  background-color: #333;
}

.main__horoscope .horoscope__block .horoscope__wrapper .horoscope:hover img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.15;
}

.main__horoscope
  .horoscope__block
  .horoscope__wrapper
  .horoscope:hover
  .horoscope__tit {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main__horoscope .horoscope__block .horoscope__prevbtn {
  left: 3rem;
  position: absolute;
  bottom: 16.5rem;
}

.main__horoscope .horoscope__block .horoscope__nextbtn {
  right: 3rem;
  position: absolute;
  bottom: 16.5rem;
}

.main__horoscope .horoscope__block .horoscope__btn {
  border: none;
  border-radius: 50px;
  padding: 2rem 2.5rem;
  background-color: #979797;
  opacity: 0.8;
  color: #fff;
}

.main__horoscope .horoscope__block .horoscope__btn:hover {
  background-color: #47405a;
  color: #fff;
}

/*section 4: 전망좋은 카페*/
.main__scenery {
  height: 1000px;
}

.main__scenery .scenery__box {
  height: 1000px;
  position: relative;
}

.main__scenery .scenery__box .scenery__bg__left {
  width: 33%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
}

.main__scenery .scenery__box .scenery__bg__left .scenery__bg__bigBox {
  width: 200%;
  height: 100%;
  position: absolute;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.main__scenery
  .scenery__box
  .scenery__bg__left
  .scenery__bg__bigBox
  .scenery__bg__bigSlide1 {
  width: 50%;
  height: 100%;
  float: left;
  background: url('../img/05/left/L_content_1_1.png') center no-repeat;
  background-size: cover;
}

.main__scenery
  .scenery__box
  .scenery__bg__left
  .scenery__bg__bigBox
  .scenery__bg__bigSlide2 {
  width: 50%;
  height: 100%;
  float: left;
  background: url('../img/05/left/L_content_2_1.png') left top no-repeat;
  background-size: cover;
}

.main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox {
  width: 34rem;
  height: 68rem;
  right: 0;
  top: 50%;
  margin-top: -34rem;
  position: absolute;
}

.main__scenery
  .scenery__box
  .scenery__bg__left
  .scenery__bg__smallBox
  .scenery__bg__up__container {
  width: 34rem;
  height: 34rem;
  position: relative;
  overflow: hidden;
}

.main__scenery
  .scenery__box
  .scenery__bg__left
  .scenery__bg__smallBox
  .scenery__bg__up__container
  .scenery__bg__up {
  width: 68rem;
  height: 34rem;
  position: absolute;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.main__scenery
  .scenery__box
  .scenery__bg__left
  .scenery__bg__smallBox
  .scenery__bg__up__container
  .scenery__bg__up
  .scenery__bg__smallSlide1 {
  width: 34rem;
  height: 100%;
  float: left;
  background: url('../img/05/left/L_scenery1_1_bg.png') center no-repeat;
  background-size: cover;
}

.main__scenery
  .scenery__box
  .scenery__bg__left
  .scenery__bg__smallBox
  .scenery__bg__up__container
  .scenery__bg__up
  .scenery__bg__smallSlide2 {
  width: 34rem;
  height: 100%;
  float: left;
  background: url('../img/05/left/L_scenery_2_1_bg.png') center no-repeat;
  background-size: cover;
}

.main__scenery
  .scenery__box
  .scenery__bg__left
  .scenery__bg__smallBox
  .scenery__bg__down {
  width: 34rem;
  height: 34rem;
  background: white;
}

.main__scenery
  .scenery__box
  .scenery__bg__left
  .scenery__bg__smallBox
  .scenery__bg__down
  .scenery__bg__small {
  width: 34rem;
  height: 34rem;
  position: absolute;
  background: url('../img/05/left/L_text_2_1.png') center no-repeat;
  background-size: cover;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.main__scenery
  .scenery__box
  .scenery__bg__left
  .scenery__bg__smallBox
  .scenery__bg__down
  .scenery__bg__small2 {
  width: 34rem;
  height: 34rem;
  position: absolute;
  background: url('../img/05/left/L_text_1_1.png') center no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.main__scenery .scenery__box .scenery__bg__right {
  width: 67%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__detail {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 15px 5px #000000a8;
  box-shadow: 5px 5px 15px 5px #000000a8;
  padding-top: 5.7rem;
  background-color: #eedeff;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 25rem;
  margin-top: 22rem;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__detail p {
  width: 15rem;
  color: #333;
  font-size: 30px;
  text-align: center;
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__detail .arrow {
  font-size: 30px;
  text-shadow: 5px 5px 7px #000000a8;
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__detail:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__bigBox {
  width: 200%;
  height: 100%;
  position: absolute;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.main__scenery
  .scenery__box
  .scenery__bg__right
  .scenery__bg__bigBox
  .scenery__bg__bigSlide1 {
  width: 50%;
  height: 100%;
  float: left;
  background: url('../img/05/right/R_content_1_1.png') center no-repeat;
  background-size: cover;
}

.main__scenery
  .scenery__box
  .scenery__bg__right
  .scenery__bg__bigBox
  .scenery__bg__bigSlide2 {
  width: 50%;
  height: 100%;
  float: left;
  background: url('../img/05/right/R_content_2_1.png') center no-repeat;
  background-size: cover;
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox {
  width: 34rem;
  height: 68rem;
  left: 0;
  top: 50%;
  margin-top: -340px;
  position: absolute;
}

.main__scenery
  .scenery__box
  .scenery__bg__right
  .scenery__bg__smallBox
  .scenery__bg__up {
  width: 34rem;
  height: 34rem;
  background: white;
}

.main__scenery
  .scenery__box
  .scenery__bg__right
  .scenery__bg__smallBox
  .scenery__bg__up
  .scenery__bg__small {
  width: 34rem;
  height: 34rem;
  position: absolute;
  background: url('../img/05/right/R_text_2_1.png') center no-repeat;
  background-size: cover;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.main__scenery
  .scenery__box
  .scenery__bg__right
  .scenery__bg__smallBox
  .scenery__bg__up
  .scenery__bg__small2 {
  width: 34rem;
  height: 34rem;
  position: absolute;
  background: url('../img/05/right/R_text_1_1.png') center no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.main__scenery
  .scenery__box
  .scenery__bg__right
  .scenery__bg__smallBox
  .scenery__bg__down__container {
  width: 34rem;
  height: 34rem;
  position: relative;
  overflow: hidden;
}

.main__scenery
  .scenery__box
  .scenery__bg__right
  .scenery__bg__smallBox
  .scenery__bg__down__container
  .scenery__bg__down {
  width: 68rem;
  height: 34rem;
  position: absolute;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.main__scenery
  .scenery__box
  .scenery__bg__right
  .scenery__bg__smallBox
  .scenery__bg__down__container
  .scenery__bg__down
  .scenery__bg__smallSlide1 {
  width: 34rem;
  height: 100%;
  float: left;
  background: url('../img/05/right/R_scenery1_1_bg.png') center no-repeat;
  background-size: cover;
}

.main__scenery
  .scenery__box
  .scenery__bg__right
  .scenery__bg__smallBox
  .scenery__bg__down__container
  .scenery__bg__down
  .scenery__bg__smallSlide2 {
  width: 34rem;
  height: 100%;
  float: left;
  background: url('../img/05/right/R_scenery2_1_bg.png.png') center no-repeat;
  background-size: cover;
}

/*section 5: 이달의 카페*/
.main__best {
  height: 1000px;
  position: relative;
  overflow: hidden;
}

.main__best .best__tit {
  width: 98.8rem;
  height: 58rem;
  padding: 20rem 0px 0px 9.2rem;
  margin: 0 auto;
  line-height: 50px;
  letter-spacing: 2px;
}

.main__best .tit {
  font-size: 50px;
  margin-bottom: 3rem;
}

.main__best .sub__tit {
  font-size: 36px;
  font-family: 'Frank Ruhl Libre', serif;
}

.main__best .best__bg {
  width: 100%;
  height: 58rem;
  position: relative;
  overflow: hidden;
  background: url('../img/06/best_1_1.png') center no-repeat;
  background-size: cover;
}

.main__best .best__bg .best__inner__bg {
  width: 100%;
  height: 58rem;
  position: absolute;
  top: 58rem;
  background: url('../img/06/bg.png') center no-repeat;
  background-size: cover;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.main__best .best__box {
  width: 36rem;
  height: 58rem;
  position: absolute;
  overflow: hidden;
  top: 21rem;
  left: 60%;
  background: url('../img/06/best_1_1.png') center no-repeat;
  background-size: cover;
  -webkit-box-shadow: 10px 10px 15px #000000a8;
  box-shadow: 10px 10px 15px #000000a8;
}

.main__best .best__box .best__header {
  width: 36rem;
  height: 58rem;
  position: absolute;
  top: 58rem;
  background: url('../img/06/bg.png') center no-repeat;
  background-size: cover;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.main__best .scenery__bg__detail {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 15px 5px #000000a8;
  box-shadow: 5px 5px 15px 5px #000000a8;
  padding-top: 5.7rem;
  background-color: #eedeff;
  position: absolute;
  z-index: 999;
  top: 50rem;
  left: 60%;
  margin: 22rem;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.main__best .scenery__bg__detail p {
  width: 15rem;
  color: #333;
  font-size: 30px;
  text-align: center;
}

.main__best .scenery__bg__detail .arrow {
  font-size: 30px;
  text-shadow: 5px 5px 7px #000000a8;
}

.main__best .scenery__bg__detail:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* section 6. New cafe 4 [뉴 카페] */
.main__newCafe {
  height: 100rem;
  position: relative;
  background-color: #f8f2ff;
  margin: 0 auto;
  /* article 6-1. 텍스트 부분 */
  /* article 6-2. 슬라이드 + 버튼 */
}

.main__newCafe .newCafe__tit {
  font-family: 'Noto Sans KR', sans-serif;
  color: #343a40;
  padding: 15rem 0 8rem 0;
  text-align: center;
}

.main__newCafe .newCafe__tit strong {
  font-size: 6rem;
}

.main__newCafe .newCafe__tit p {
  margin-top: 1rem;
  font-size: 3em;
}

.main__newCafe .newCafe__block {
  position: relative;
  width: 79rem;
  margin: 0 auto;
  display: block;
  /* 뉴 카페 이미지 슬라이드 */
}

.main__newCafe .newCafe__block .swiper-button-next {
  right: -70px;
  color: #343a40;
}

.main__newCafe .newCafe__block .swiper-button-prev {
  left: -70px;
  color: #343a40;
}

.main__newCafe .newCafe__block .swiper-button-prev:hover {
  color: #333;
}

.main__newCafe .newCafe__block .swiperbtn {
  color: #fff;
}

.main__newCafe .newCafe__block .swiper-container {
  height: 100%;
}

.main__newCafe .newCafe__block .swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 이 설정을 하지 않으면 슬라이드드가 틀어짐 */
}

.footer {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__left {
  margin-left: 6rem;
}

.footer__copyright {
  margin-top: 50px;
  font-weight: bold;
}

.footer__copyright p:last-child {
  font-weight: normal;
  font-family: 'Dancing Script', cursive;
  margin-top: 10px;
}

.footer__right {
  display: flex;
  margin-right: 6rem;
}

.footer__menu {
  width: 70px;
  font-size: 1.6rem;
  list-style: none;
  margin-left: 4rem;
}

.footer__menu--list {
  height: 30px;
  padding-top: 30px;
}

.footer__menu li {
  font-size: 1rem;
}
/*# sourceMappingURL=main 2.css.map */
