@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap");
/* 반응형 */
/* 반응형 */
/* 반응형 */
/*main scss*/
/*header*/
/*footer*/
/*
section2 main-home : 400px
section3 __menu : 1200px

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

html,
body {
  height: 100%;
  font-size: 10px;
  color: #333;
}

.main {
  display: block;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  border: none;
  color: #333;
}

a:active,
button:active {
  color: #8d91eb;
}

h2,
h4 {
  padding: 0;
  margin: 0;
}

.cafeIcon {
  width: 3.5rem;
  margin-right: 1rem;
}

/* 파트 2 : 카페 소개 */
.main__home {
  width: 100%;
  background-color: #eedeff;
  height: 40rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__home {
    height: 25rem;
  }
}

@media (max-width: 767px) {
  .main__home {
    height: 18rem;
  }
}

.main__home .main__tit {
  width: 100%;
  height: 40rem;
  justify-content: center;
  text-align: center;
  line-height: 60px;
  padding-top: 15rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__home .main__tit {
    padding-top: 10rem;
  }
}

@media (max-width: 767px) {
  .main__home .main__tit {
    padding-top: 6rem;
  }
}

.main__home .main__tit .main__title {
  font-weight: bold;
  font-size: 4rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__home .main__tit .main__title {
    font-size: 3rem;
    padding: 0;
    height: 6rem;
  }
}

@media (max-width: 767px) {
  .main__home .main__tit .main__title {
    font-size: 2.5rem;
    height: 3rem;
  }
}

.main__home .main__tit .sub__title {
  font-weight: normal;
  font-size: 1.6rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__home .main__tit .sub__title {
    font-size: 1.4rem;
    height: 4rem;
  }
}

@media (max-width: 767px) {
  .main__home .main__tit .sub__title {
    font-size: 1.2rem;
    height: 2rem;
  }
}

.content {
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
  position: relative;
  display: block;
}

.content__menu {
  width: 120rem;
  height: 25rem;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .content__menu {
    height: 12rem;
  }
}

@media (max-width: 767px) {
  .content__menu {
    height: 7rem;
  }
}

.content__menu .wrap {
  height: 17rem;
  position: relative;
  overflow: hidden;
  padding-left: 2rem;
  /* 밑에 줄*/
}

@media (min-width: 768px) and (max-width: 1023px) {
  .content__menu .wrap {
    height: 12rem;
  }
}

@media (max-width: 767px) {
  .content__menu .wrap {
    height: 7rem;
  }
}

.content__menu .wrap ul {
  height: 19rem;
  padding: 10rem 0 3rem 0;
  font-size: 3rem;
  margin-bottom: 0rem;
  display: block;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .content__menu .wrap ul {
    padding: 3rem 2rem 1rem 2rem;
    font-size: 2rem;
    height: 12rem;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .content__menu .wrap ul {
    padding: 2rem 1.5rem 2rem 0;
    font-size: 1.4rem;
    height: 7rem;
  }
}

.content__menu .wrap ul li {
  position: relative;
  display: inline-block;
  height: 4rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .content__menu .wrap ul li {
    width: 16rem;
  }
}

@media (max-width: 767px) {
  .content__menu .wrap ul li {
    height: 2rem;
  }
}

.content__menu .wrap ul li a {
  width: 19rem;
  height: 100%;
  font-weight: bold;
}

.content__menu .wrap ul li a:hover {
  font-weight: bold;
  color: #8d91eb;
}

@media (max-width: 767px) {
  .content__menu .wrap ul li a img {
    display: none;
  }
}

.content__menu .wrap ul li:not(.rooftopCafe) {
  margin-left: 2rem;
}

.content__menu .wrap .underline {
  width: 19rem;
  height: 5rem;
  display: block;
  background: #8d91eb;
  top: 16.4rem;
  left: 2rem;
  position: absolute;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .content__menu .wrap .underline {
    display: none;
  }
}

@media (max-width: 767px) {
  .content__menu .wrap .underline {
    display: none;
  }
}

.content__imgs {
  width: 100%;
  background: #f4f4f4;
  padding-bottom: 11rem;
  margin-bottom: 0rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .content__imgs {
    padding: 0 2rem 5rem 2rem;
  }
}

@media (max-width: 767px) {
  .content__imgs {
    padding: 0 1rem 3rem 1rem;
  }
}

.content__imgs .select__cafe {
  width: 120rem;
  margin: 0 auto;
  padding: 3rem 0;
  font-size: 2rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .content__imgs .select__cafe {
    padding: 2rem 0;
    font-size: 1.6rem;
  }
}

@media (max-width: 767px) {
  .content__imgs .select__cafe {
    padding: 1.5rem 0;
    font-size: 1.2rem;
  }
}

.content__imgs .select__cafe span {
  margin: 0 2rem 0 2rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .content__imgs .select__cafe span {
    margin: 0 1rem 0 1rem;
  }
}

@media (max-width: 767px) {
  .content__imgs .select__cafe span {
    margin: 0 0.5rem 0 0.5rem;
  }
}

.content__imgs .select__cafe span a {
  font-weight: bold;
}

.content__imgs .select__cafe span a:visited {
  font-weight: bold;
}

.content__imgs .select__cafe span a:hover {
  color: #8d91eb;
}

.content__imgs .cafe__block .cafe__imgs ul {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 0 11rem 0 11rem;
  max-width: 140rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .content__imgs .cafe__block .cafe__imgs ul {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .content__imgs .cafe__block .cafe__imgs ul {
    padding: 0;
  }
}

.content__imgs .cafe__block .cafe__imgs ul li {
  position: relative;
  margin: 1rem auto;
  width: 38rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .content__imgs .cafe__block .cafe__imgs ul li {
    width: 48%;
  }
  .content__imgs .cafe__block .cafe__imgs ul li + .content__imgs .cafe__block .cafe__imgs ul li {
    margin-left: 0.5rem;
  }
}

@media (max-width: 767px) {
  .content__imgs .cafe__block .cafe__imgs ul li {
    width: 38rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.content__imgs .cafe__block .cafe__imgs ul li:hover {
  transform: translateY(-1em);
  box-shadow: 0 0 10px #9e9e9e;
}

.content__imgs .cafe__block .cafe__imgs ul li img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.content__imgs .cafe__block .cafe__imgs ul li .img__text {
  position: absolute;
  z-index: 1;
  bottom: 0;
  height: 7.3rem;
  width: 100%;
  background: #47405a;
  opacity: 0.8;
  color: #fff;
  text-align: center;
  margin: auto;
  font-size: 2.8rem;
  padding: 1.5rem 0;
}

/*------detail info---------*/
/*메인 title*/
.main_detail_info {
  display: none;
}

.main_detail_info .main__home {
  height: 400px;
  background: #eedeff;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main_detail_info .main__home {
    height: 25rem;
  }
}

@media (max-width: 767px) {
  .main_detail_info .main__home {
    height: 18rem;
  }
}

.main_detail_info .main__home .detailed__information {
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 80px;
  font-family: 'Dancing Script', cursive;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main_detail_info .main__home .detailed__information {
    font-size: 3rem;
    padding: 0;
    height: 6rem;
  }
}

@media (max-width: 767px) {
  .main_detail_info .main__home .detailed__information {
    font-size: 2.5rem;
    height: 3rem;
  }
}

.main_detail_info .detailed__info {
  background: #f4f4f4;
}

.main_detail_info .detailed__info .prev {
  width: 10rem;
  position: fixed;
  height: 4rem;
  font-size: 3rem;
  background: #eedeff;
  border-radius: 30px;
  bottom: 30rem;
  left: 2rem;
  box-shadow: 0 0 5rem #000000a8;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main_detail_info .detailed__info .prev {
    height: 3rem;
    bottom: 1rem;
    font-size: 1.2rem;
    width: 6rem;
    left: 2rem;
    padding: 0;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .main_detail_info .detailed__info .prev {
    position: fixed;
    height: 3rem;
    bottom: 1rem;
    font-size: 1.2rem;
    width: 6rem;
    left: 2rem;
    padding: 0;
    padding: 0;
  }
}

.main_detail_info .detailed__info .prev:hover {
  background: #8d91eb;
  color: white;
}

.main_detail_info .detailed__info .detailed__wrap {
  margin: 0 auto;
  padding-bottom: 6rem;
  width: 120rem;
  padding-top: 10rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main_detail_info .detailed__info .detailed__wrap {
    flex-wrap: nowrap;
  }
}

@media (max-width: 767px) {
  .main_detail_info .detailed__info .detailed__wrap {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.main_detail_info .detailed__info .detailed__wrap .detailed__container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main_detail_info .detailed__info .detailed__wrap .detailed__container {
    padding: 0;
    width: 100%;
    margin: 0 1rem;
  }
}

@media (max-width: 767px) {
  .main_detail_info .detailed__info .detailed__wrap .detailed__container {
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding: 0;
    height: 100%;
    width: 34rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.main_detail_info .detailed__info .detailed__wrap .detailed__container li {
  width: 38rem;
  height: 38rem;
  margin: 10px 0;
  float: left;
  box-shadow: 0 0 5rem #000000a8;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main_detail_info .detailed__info .detailed__wrap .detailed__container li {
    width: 23rem;
    height: 23rem;
    margin: 1rem;
  }
}

.main_detail_info .detailed__info .detailed__wrap .detailed__container .img5 {
  background: white;
  padding-top: 7rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_detail_info .detailed__info .detailed__wrap .detailed__container .img5 .cafe_theme {
  font-size: 4rem;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  line-height: 13rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main_detail_info .detailed__info .detailed__wrap .detailed__container .img5 .cafe_theme {
    font-size: 2rem;
    height: 4rem;
    line-height: 3rem;
  }
}

.main_detail_info .detailed__info .detailed__wrap .detailed__container .img5 .cafe_name {
  font-size: 4rem;
  text-align: center;
  line-height: 6rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main_detail_info .detailed__info .detailed__wrap .detailed__container .img5 .cafe_name {
    font-size: 2rem;
  }
}

.main_detail_info .detailed__info .detailed__wrap .caption {
  padding: 0 11rem 0 11rem;
  width: 120rem;
  height: 25rem;
  background: white;
  padding: 2rem;
  box-shadow: 0 0 5rem #000000a8;
  color: #333;
  margin: 2rem auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main_detail_info .detailed__info .detailed__wrap .caption {
    width: 73rem;
    margin: 2rem;
    padding: 2rem 5rem 2rem 5rem;
  }
}

@media (max-width: 767px) {
  .main_detail_info .detailed__info .detailed__wrap .caption {
    padding: 2rem;
  }
}

.main_detail_info .detailed__info .detailed__wrap .caption .main_tit {
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
  line-height: 5rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main_detail_info .detailed__info .detailed__wrap .caption .main_tit {
    font-size: 2rem;
  }
}

@media (max-width: 767px) {
  .main_detail_info .detailed__info .detailed__wrap .caption .main_tit {
    font-size: 1.5rem;
  }
}

.main_detail_info .detailed__info .detailed__wrap .caption .cafe_tit {
  font-size: 2rem;
  line-height: 5rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main_detail_info .detailed__info .detailed__wrap .caption .cafe_tit {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .main_detail_info .detailed__info .detailed__wrap .caption .cafe_tit {
    font-size: 1.2rem;
  }
}

.main_detail_info .detailed__info .detailed__wrap .caption .cafe_address {
  font-size: 2rem;
  line-height: 3rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main_detail_info .detailed__info .detailed__wrap .caption .cafe_address {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .main_detail_info .detailed__info .detailed__wrap .caption .cafe_address {
    font-size: 1.2rem;
  }
}

.main_detail_info .detailed__info .detailed__wrap .caption .cafe_link {
  font-size: 2rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main_detail_info .detailed__info .detailed__wrap .caption .cafe_link {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .main_detail_info .detailed__info .detailed__wrap .caption .cafe_link {
    font-size: 1.2rem;
  }
}

.main_detail_info .detailed__info .detailed__wrap .caption .stars {
  font-size: 2.5rem;
  text-align: right;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main_detail_info .detailed__info .detailed__wrap .caption .stars {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .main_detail_info .detailed__info .detailed__wrap .caption .stars {
    font-size: 1.2rem;
  }
}

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

@media (max-width: 1024px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    width: 100%;
  }
}

.header__logo {
  display: flex;
  flex-grow: 0;
  margin-left: 3rem;
}

@media (max-width: 1024px) {
  .header__logo {
    padding-top: 15px;
    text-align: center;
    margin: 0;
    align-items: center;
  }
  .header__logo img {
    width: 60%;
  }
}

.header__menu {
  display: flex;
  flex-grow: 1;
  font-size: 3rem;
  list-style: none;
  font-family: 'Dancing Script', cursive;
  margin: 0 6rem;
}

.header__menu li {
  margin-right: 5rem;
}

.header__menu li a {
  color: #333;
}

.header__menu li:hover {
  border-bottom: 1px solid #333;
}

@media (max-width: 1024px) {
  .header__menu {
    display: none;
    flex-direction: column;
    width: 100%;
    margin: 30px 0;
    background-color: #ffffffcc;
  }
  .header__menu li {
    width: 100%;
    padding: 15px 0 15px 60px;
    cursor: pointer;
  }
  .header__menu li a {
    display: block;
  }
  .header__menu li:hover {
    background-color: #CCB7FF;
    border-bottom: none;
  }
}

@media (max-width: 1024px) {
  .header__menu.active {
    display: flex;
  }
}

.header__btn {
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  height: 50px;
  border-radius: 30px;
  border: 0;
  outline: 0;
  margin: 0 3rem;
  box-shadow: 4px 6px 10px #000000a8;
}

.header__btn i {
  margin-right: 1rem;
}

.header__btn:hover .fa-moon {
  color: #fce303;
}

@media (max-width: 1024px) {
  .header__btn {
    position: absolute;
    right: 0;
    top: 20px;
    padding: 0 1.5rem;
  }
  .header__btn i {
    margin: 0 auto;
    font-size: 2rem;
  }
  .header__btn--right {
    display: none;
  }
}

.header__toogleBtn {
  position: absolute;
  left: 30px;
  top: 17px;
  font-size: 40px;
  display: none;
  color: #CCB7FF;
}

@media (max-width: 1024px) {
  .header__toogleBtn {
    display: block;
  }
}

.project {
  position: relative;
  width: 100%;
  margin-top: 200px;
}

.project__inner {
  width: 1200px;
  margin: 0 auto;
}

.project-main {
  width: 100%;
  text-align: center;
}

.project-main__txt {
  font-size: 2rem;
  margin: 40px 0;
  line-height: 3.5rem;
}

.project-content {
  background-color: #eedeff;
  height: 100%;
  width: 100%;
}

.project-content__txt {
  padding-top: 70px;
}

.project-content__txt--name {
  font-size: 3rem;
}

.project-content__box {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.project-content__box--txt {
  font-size: 1.25rem;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 3.5rem;
}

.project-content .box__txt {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.875rem;
  margin: 8px 0 70px;
}

.project-content .box__txt i {
  color: #5d4b72;
}

.project-content .box__txt span {
  margin: 0 1rem;
}

.project-content .box__txt--color {
  font-weight: bold;
  color: #5d4b72;
}

.project-content-page {
  width: 100%;
}

.project-page {
  width: 100%;
  height: 100%;
}

.project-page__txt {
  width: 100%;
  font-size: 3rem;
  margin-top: 70px;
}

.project-page__subtxt {
  width: 100%;
  font-size: 2rem;
  margin: 2rem 0;
  line-height: 3.5rem;
}

.project-page__img {
  width: 1200px;
  height: 600px;
  background-color: #c4c4c4;
}

.project-team {
  width: 100%;
  height: 100%;
}

.project-team__txt {
  width: 100%;
  margin-top: 70px;
  font-family: 'Noto Sans KR', sans-serif;
}

.project-team__txt--name {
  font-size: 3rem;
}

.project-team__txt--subname {
  font-size: 2rem;
  margin: 5rem 0;
}

.project-team__subtxt {
  margin: 5rem 0;
}

.project-team__profile {
  display: flex;
  align-items: center;
  width: 100%;
  height: 280px;
  box-shadow: 0px 3px 10px #eedeff;
}

.project-team__profile--img {
  width: 130px;
  height: 130px;
  margin: 103px;
}

.project-team__profile--content {
  font-family: 'Noto Sans KR', sans-serif;
  width: 600px;
}

.project-team__profile:last-child {
  margin: 3rem 0;
}

.project-team__address--color {
  color: #5d4b72;
}

.project-name {
  margin: 0.6rem 0;
  font-size: 1.4rem;
}

.name {
  font-size: 20px;
}

.name__part {
  font-size: 1.6rem;
  background-color: #eedeff;
  color: #333;
  padding: 0.4rem 1rem;
  margin: 0 0.8rem;
  border-radius: 20px;
}
