$maincolor: #eedeff;
$textcolor: #333;
$boxshadow: #000000a8;
$textcolordy: #343a40;
$subcolor: #f8f2ff;
$subcolor2: #fff7fe;
$hovercolor_main: #47405a;
$maincolortext: #ccbedb;
$hovercolor_special: #8d91eb;
$hovercolor: #47405a;
$greycolor: #686868;
$buttoncolor: #ccb7ff;

/* 반응형 */
$breakpoint-mobile: 360px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
