@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap");
/* 반응형 */
/* 반응형 */
/* 반응형 */
/*main scss*/
/*header*/
/*footer*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

html,
body {
  height: 100%;
  font-size: 10px;
  color: #333;
}

.screen_out {
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
}

.container {
  width: 100%;
  position: absolute;
  font-family: 'Noto Sans KR', sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

@media (max-width: 1024px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    width: 100%;
  }
}

.header__logo {
  display: flex;
  flex-grow: 0;
  margin-left: 3rem;
}

@media (max-width: 1024px) {
  .header__logo {
    padding-top: 15px;
    text-align: center;
    margin: 0;
    align-items: center;
  }
  .header__logo img {
    width: 60%;
  }
}

.header__menu {
  display: flex;
  flex-grow: 1;
  font-size: 3rem;
  list-style: none;
  font-family: 'Dancing Script', cursive;
  margin: 0 6rem;
}

.header__menu li {
  margin-right: 5rem;
}

.header__menu li a {
  color: #333;
}

.header__menu li:hover {
  border-bottom: 1px solid #333;
}

@media (max-width: 1024px) {
  .header__menu {
    display: none;
    flex-direction: column;
    width: 100%;
    margin: 30px 0;
    background-color: #ffffffcc;
  }
  .header__menu li {
    width: 100%;
    padding: 15px 0 15px 60px;
    cursor: pointer;
  }
  .header__menu li a {
    display: block;
  }
  .header__menu li:hover {
    background-color: #CCB7FF;
    border-bottom: none;
  }
}

@media (max-width: 1024px) {
  .header__menu.active {
    display: flex;
  }
}

.header__btn {
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  height: 50px;
  border-radius: 30px;
  border: 0;
  outline: 0;
  margin: 0 3rem;
  box-shadow: 4px 6px 10px #000000a8;
}

.header__btn i {
  margin-right: 1rem;
}

.header__btn:hover .fa-moon {
  color: #fce303;
}

@media (max-width: 1024px) {
  .header__btn {
    position: absolute;
    right: 0;
    top: 20px;
    padding: 0 1.5rem;
  }
  .header__btn i {
    margin: 0 auto;
    font-size: 2rem;
  }
  .header__btn--right {
    display: none;
  }
}

.header__toogleBtn {
  position: absolute;
  left: 30px;
  top: 17px;
  font-size: 40px;
  display: none;
  color: #CCB7FF;
}

@media (max-width: 1024px) {
  .header__toogleBtn {
    display: block;
  }
}

.project {
  position: relative;
  width: 100%;
  margin-top: 200px;
}

.project__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3rem;
}

.project-main {
  width: 100%;
  text-align: center;
}

@media (max-width: 1024px) {
  .project-main__logo img {
    width: 24%;
  }
}

.project-main__txt {
  font-size: 2rem;
  margin: 40px 0;
  line-height: 3.5rem;
}

@media (max-width: 1024px) {
  .project-main__txt {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .project-main__txt span {
    font-size: 1.4rem;
  }
}

.project-content {
  background-color: #eedeff;
  width: 100%;
  height: 100%;
}

.project-content__txt {
  padding-top: 70px;
}

.project-content__txt--name {
  font-size: 3rem;
  font-weight: bold;
  color: #ccb7ff;
  width: 100%;
}

@media (max-width: 1024px) {
  .project-content__txt--name {
    font-size: 2rem;
  }
}

.project-content__subtxt {
  font-size: 2rem;
  height: 200px;
  display: flex;
  flex-direction: column;
  line-height: 3.5rem;
  width: 100%;
  padding: 0 2rem 0 0;
  margin-top: 30px;
}

@media (max-width: 1024px) {
  .project-content__subtxt {
    width: 100%;
    font-size: 1.4rem;
  }
}

.project-content__box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .project-content__box {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .project-content__box {
    flex-direction: column;
  }
}

.project-content__box--left img {
  width: 100%;
  padding-right: 30px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .project-content__box--left img {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .project-content__box--left img {
    padding: 0;
  }
}

.project-content__box--right {
  position: relative;
  bottom: 200px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .project-content__box--right {
    top: 0;
  }
}

@media (max-width: 767px) {
  .project-content__box--right {
    top: 0;
  }
}

.project-content__box--right img {
  width: 100%;
}

.project-content .box__txt {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.875rem;
  margin: 8px 0 70px;
}

.project-content .box__txt span {
  margin: 0 1rem;
}

.project-content .box__txt--color {
  font-weight: bold;
  color: #ccb7ff;
}

.project-content-page {
  width: 100%;
}

.project-page {
  width: 100%;
  height: 100%;
}

.project-page__txt {
  width: 100%;
  font-size: 3rem;
  margin-top: 70px;
  font-weight: bold;
  color: #ccb7ff;
}

@media (max-width: 1024px) {
  .project-page__txt {
    font-size: 2rem;
  }
}

.project-page__subtxt {
  width: 100%;
  font-size: 2rem;
  margin: 2rem 0;
  line-height: 3.5rem;
}

@media (max-width: 1024px) {
  .project-page__subtxt {
    font-size: 1.4rem;
  }
}

.project-page__img img {
  width: 100%;
  box-shadow: 0px 3px 10px #000000a8;
  border-radius: 10px;
}

.project-team {
  width: 100%;
  height: 100%;
  padding-bottom: 70px;
}

.project-team__txt {
  width: 100%;
  margin-top: 70px;
  font-family: 'Noto Sans KR', sans-serif;
}

.project-team__txt--name {
  font-size: 3rem;
}

.project-team__txt--subname {
  font-size: 2rem;
  margin: 5rem 0;
}

.project-team__subtxt {
  margin: 5rem 0;
}

.project-team__profile {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  box-shadow: 0px 3px 10px #eedeff;
}

@media (max-width: 1024px) {
  .project-team__profile {
    display: flex;
    flex-direction: column;
  }
}

.project-team__profile--img {
  width: 130px;
  height: 130px;
  margin: 103px;
}

@media (max-width: 1024px) {
  .project-team__profile--img {
    margin: 10px 0;
  }
}

.project-team__profile--content {
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .project-team__profile--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem 2rem 2rem;
  }
}

.project-team__profile__des {
  width: 100%;
}

.project-team__profile:last-child {
  margin: 3rem 0;
}

.project-team__address--color {
  color: #ccb7ff;
}

.project-name {
  margin: 0.6rem 0;
  font-size: 1.4rem;
  width: 100%;
}

@media (max-width: 1024px) {
  .project-name {
    text-align: center;
  }
}

.project-name:nth-child(1) {
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .project-name:nth-child(1) {
    flex-direction: column;
  }
}

.name {
  font-size: 20px;
}

@media (max-width: 1024px) {
  .name {
    font-size: 1.6rem;
  }
}

.name__part {
  font-size: 1.6rem;
  background-color: #eedeff;
  color: #333;
  padding: 0.4rem 1rem;
  margin: 0 0.8rem;
  border-radius: 20px;
}

@media (max-width: 1024px) {
  .name__part {
    font-size: 1rem;
    margin: 0 0.2rem;
  }
}

@media (max-width: 1024px) {
  .name__sub {
    display: flex;
    margin-top: 5px;
  }
}

.txtColor {
  color: #ccb7ff;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__left {
  margin-left: 3rem;
}

.footer__copyright {
  margin-top: 50px;
  font-weight: bold;
}

.footer__copyright p:last-child {
  font-weight: normal;
  font-family: 'Dancing Script', cursive;
  margin-top: 10px;
}

.footer__right {
  display: flex;
  margin-right: 3rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer__right {
    margin: 4rem 0 0 3rem;
  }
}

@media (max-width: 767px) {
  .footer__right {
    margin: 4rem 0 0 3rem;
  }
}

.footer__menu {
  font-size: 1.6rem;
  list-style: none;
  margin-left: 4rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer__menu {
    margin: 0;
    padding-right: 2rem;
  }
}

@media (max-width: 767px) {
  .footer__menu {
    margin: 0;
    padding-right: 2rem;
  }
}

.footer__menu--list {
  height: 30px;
  padding-top: 30px;
}

.footer__menu li {
  font-size: 1rem;
}

.footer__menu li :hover {
  color: #ccb7ff;
}

.footer__menu li a {
  color: #333;
}
